<div class="right-image-decor"></div>

 <!-- ***** Team Starts ***** -->
<section class="section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2><ng-container i18n="@@PartnerTagLineMain">Our</ng-container>&nbsp;<em i18n="@@PartnerTagLineSub">Partners</em></h2>
                    <p i18n="@@PartnerTagPara">We are working closely with our partners "<b>Uber Eats, Glovo and Blinkee.City</b>" to generate revenue that can be mutually beneficial and provide delivery services across the various cities in poland.</p>
                </div>
            </div>
            <div class="col-sm-12"
            data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item p-4">
                        <div class="neuromorph-card">
                           <a href="https://www.uber.com/signup/drive/deliver/?invite_code=ax31brcb9"> <img class="img-fluid w-100 rounded" src="assets/images/ue.png" alt="Uber Eats"></a>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="item p-4">
                        <div class="neuromorph-card">
                            <a href="https://glovoapp.com/pl/glovers"><img class="img-fluid w-100 rounded" src="assets/images/glovo.png" alt="Glovo"></a>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="item p-4">
                        <div class="neuromorph-card">
                            <a href="https://blinkee.city/pl"><img class="img-fluid w-100 rounded" src="assets/images/blinke.png" alt="Blinkee.city"></a>
                        </div>
                    </div>
                </ng-template>  
              
              </owl-carousel-o>
            </div>


 
        </div>
    </div>
</section>
<!-- ***** Team Ends ***** -->