  <!-- ***** Header Area Start ***** -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="logo p-1">
        <svg id="ldbpolska" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.9 488" width="30">
            <title>ldblogo</title>
            <path d="M246.5,334.9V203.6h0a38,38,0,0,0-18.9-32.8h0l-19-11-19-11-19-11-19-11-19-11-19-11-19-11V269l19,11,19,11,19,11,19,11,19,11,19,11h0l19,11h0a12.6,12.6,0,0,0,19-10.9h0Zm-56.9-54.8-19-11-19-11-17-9.8a4.1,4.1,0,0,1-2-3.5V166.5a4.1,4.1,0,0,1,6.1-3.5l12.9,7.5,19,11,19,11,17,9.8a4.1,4.1,0,0,1,2,3.5V284a4.1,4.1,0,0,1-6.1,3.5Z" transform="translate(-94.5)" fill="#0d5eaf"/>
            <g>
              <line x1="159" y1="323.2" x2="159" y2="323.2" fill="none" stroke="#231f20" stroke-miterlimit="10"/>
              <path d="M386.5,104.6l-19,11-19,11-19,11-19,11-19,11-19,11-19,11V356.8l19-11h0l19-11h0l19-11,19-11,19-11,19-11,19-11,14.3-8.3a9.5,9.5,0,0,0,4.7-8.2V110a9.5,9.5,0,0,0-14.2-8.2Zm-19,140.2a4.1,4.1,0,0,1-2,3.5l-17,9.8-19,11-19,11-19,11V269.2l19-11,19-11,19-11,12.9-7.5a4.1,4.1,0,0,1,6.1,3.5Zm0-65.8a4.1,4.1,0,0,1-2,3.5l-17,9.8-19,11-19,11-19,11V203.5l19-11,19-11,19-11,12.9-7.5a4.1,4.1,0,0,1,6.1,3.5Z" transform="translate(-94.5)" fill="#dc143c"/>
            </g>
            <path d="M281.6,149.9a4.1,4.1,0,0,1,0,7l-12.9,7.4-17,9.8a4.1,4.1,0,0,1-4.1,0L98,87.7,250.1,0l19,11,12.9,7.4a4.1,4.1,0,0,1,0,7L269,32.9l-19,11h0l-19,11L180,84.2a4.1,4.1,0,0,0,0,7Z" transform="translate(-94.5)" fill="#dc143c"/>
           
          </svg>
          
    </a>
   
  
      <ul class="navbar-nav ml-auto">        
        <li class="nav-item">
          <a class="nav-link" routerLink="/join-us" i18n="@@JoinUsLinkGoBack">Go back</a>
        </li>
      </ul>
     
  </nav>

<!-- ***** Header Area End ***** -->
<div class="container-fluid">

   

<div class="row">
    
    <!-- ***** Contact Form Start ***** -->
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
<div class="contact-form privacy-wrapper">
    <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div #scrollToDiv class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h2 i18n="@@PrivacyHeading">Privacy Policy</h2>
          <hr>
        </div>
        <!-- End Title -->

  
        <div class="w-lg-80 mx-auto">
          <!-- Privacy Policy -->
               
               <h5 class="mb-3" i18n="@@PrivacyH1">What is the purpose and legal basis for processing your personal data?</h5>
             <p i18n="@@PrivacySubPara">The basis for processing your personal data is a cooperation agreement with the Partner for services provided by Uber in Poland. Your personal data is processed by LDB. for the following purposes:</p>
             <ul class="mt-3">
                <li i18n="@@PrivacyListItem1">Conclusion and performance of a contract between us (Article 6 paragraph (1b) GDPR - execution of the contract)</li>

                <li i18n="@@PrivacyListItem2">Contact regarding the contract between us (Article 6(1b) GDPR - execution of the contract)</li>

                <li i18n="@@PrivacyListItem3">Handling your enquiries and complaints, including the resolution of technical problems (Article 6(1) c of the GDR - performance of our legal obligations)</li>

                <li i18n="@@PrivacyListItem4">Accounting (Article 6(1)(c) of the GDP - performance of our legal obligations)</li>

                <li i18n="@@PrivacyListItem5">To conduct judicial and administrative proceedings (Article 6(1) f, GDP - our legally justified business)</li>

                <li i18n="@@PrivacyListItem6">For marketing purposes (Article 6(1) a GDP - consent)</li>

                <li i18n="@@PrivacyListItem7">The possibilities of using the Uber application for all its functionalities, details can be found under the link; https://privacy.uber.com/policy/</li>

                <li i18n="@@PrivacyListItem8">Possible other circumstances, resulting from the cooperation process and necessary for its legally correct implementation</li>
            </ul>
              
            
        
       
        </div>
      </div>
    
</div>
</div>
</div>
</div>

