  <!-- ***** Header Area Start ***** -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="logo p-1">
        <svg id="ldbpolska" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.9 488" width="30">
            <title>ldblogo</title>
            <path d="M246.5,334.9V203.6h0a38,38,0,0,0-18.9-32.8h0l-19-11-19-11-19-11-19-11-19-11-19-11-19-11V269l19,11,19,11,19,11,19,11,19,11,19,11h0l19,11h0a12.6,12.6,0,0,0,19-10.9h0Zm-56.9-54.8-19-11-19-11-17-9.8a4.1,4.1,0,0,1-2-3.5V166.5a4.1,4.1,0,0,1,6.1-3.5l12.9,7.5,19,11,19,11,17,9.8a4.1,4.1,0,0,1,2,3.5V284a4.1,4.1,0,0,1-6.1,3.5Z" transform="translate(-94.5)" fill="#0d5eaf"/>
            <g>
              <line x1="159" y1="323.2" x2="159" y2="323.2" fill="none" stroke="#231f20" stroke-miterlimit="10"/>
              <path d="M386.5,104.6l-19,11-19,11-19,11-19,11-19,11-19,11-19,11V356.8l19-11h0l19-11h0l19-11,19-11,19-11,19-11,19-11,14.3-8.3a9.5,9.5,0,0,0,4.7-8.2V110a9.5,9.5,0,0,0-14.2-8.2Zm-19,140.2a4.1,4.1,0,0,1-2,3.5l-17,9.8-19,11-19,11-19,11V269.2l19-11,19-11,19-11,12.9-7.5a4.1,4.1,0,0,1,6.1,3.5Zm0-65.8a4.1,4.1,0,0,1-2,3.5l-17,9.8-19,11-19,11-19,11V203.5l19-11,19-11,19-11,12.9-7.5a4.1,4.1,0,0,1,6.1,3.5Z" transform="translate(-94.5)" fill="#dc143c"/>
            </g>
            <path d="M281.6,149.9a4.1,4.1,0,0,1,0,7l-12.9,7.4-17,9.8a4.1,4.1,0,0,1-4.1,0L98,87.7,250.1,0l19,11,12.9,7.4a4.1,4.1,0,0,1,0,7L269,32.9l-19,11h0l-19,11L180,84.2a4.1,4.1,0,0,0,0,7Z" transform="translate(-94.5)" fill="#dc143c"/>
           
          </svg>
          
    </a>
   
  
      <ul class="navbar-nav ml-auto">        
        <li class="nav-item">
          <a class="nav-link" routerLink="/" i18n="@@JoinUsLinkGoBack">Go back</a>
        </li>
      </ul>
     
  </nav>

<!-- ***** Header Area End ***** -->
<div class="container-fluid">

   

<div class="row">
    
    <!-- ***** Contact Form Start ***** -->
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
<div class="contact-form">
    <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div #scrollToDiv class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h2 i18n="@@JoinUsHeading">Tell us about yourself</h2>
        </div>
        <!-- End Title -->

        <div  *ngIf="isValidFormSubmitted" class="alert alert-success alert-dismissible fade show small" role="alert">
          <strong>👏&nbsp;<ng-container i18n="@@JoinUsSuccessText1">Congratulations!</ng-container></strong>&nbsp; <ng-container i18n="@@JoinUsSuccessText2">We have received your request will get back to you as soon as possible.</ng-container>
          <button type="button" class="close" (click)="isValidFormSubmitted = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="w-lg-80 mx-auto">
          <!-- Contacts Form -->
          <form  [formGroup]="joinusForm" (ngSubmit)="onSubmit(joinusForm)">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstName" i18n="@@JoinFormFirstName">First Name</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('firstName').invalid && 
                                    joinusForm.get('firstName').touched,
                        'is-valid': joinusForm.get('firstName').valid && 
                                    joinusForm.get('firstName').touched
                    }" 
                    id="firstName" 
                    formControlName="firstName" 
                    placeholder="First Name">
                  <div class="invalid-feedback" i18n="@@JoinFormFirstNameError" *ngIf="joinusForm.get('firstName').errors?.required">
                    Input can't be empty.
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName" i18n="@@JoinFormLastName">Last Name</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('lastName').invalid && 
                                    joinusForm.get('lastName').touched,
                        'is-valid': joinusForm.get('lastName').valid && 
                                    joinusForm.get('lastName').touched
                    }"
                    id="lastName" 
                    formControlName="lastName" 
                    placeholder="Last Name">
                  <div class="invalid-feedback" i18n="@@JoinFormLastNameError" *ngIf="joinusForm.get('lastName').errors?.required">
                    Input can't be empty.
                  </div>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="userEmail" i18n="@@JoinFormEmail">Email</label>
                <input 
                  type="email" 
                  class="form-control" 
                  [ngClass]="{
                    'is-invalid': joinusForm.get('userEmail').invalid && 
                                  joinusForm.get('userEmail').touched,
                      'is-valid': joinusForm.get('userEmail').valid &&
                                  joinusForm.get('userEmail').touched            
                  }"
                  id="userEmail" 
                  formControlName="userEmail" 
                  placeholder="Email">
                <div class="invalid-feedback" i18n="@@JoinFormEmailEmptyError" *ngIf="joinusForm.get('userEmail').errors?.required">
                  Input can't be empty.
                </div>
                <div class="invalid-feedback" i18n="@@JoinFormEmailInvalidError" *ngIf="joinusForm.get('userEmail').errors?.pattern">
                  Invalid Email id.
                </div>
              </div>       
              
              <div class="form-group col-md-6">
                <label for="userPeselorPassport" i18n="@@JoinFormPessel">Pessel/Passport Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('userPeselorPassport').invalid &&
                                    joinusForm.get('userPeselorPassport').touched,
                        'is-valid': joinusForm.get('userPeselorPassport').valid &&
                                    joinusForm.get('userPeselorPassport').touched              
                    }"
                    id="userPeselorPassport" 
                    formControlName="userPeselorPassport" 
                    placeholder="Pessel/Passport Id">
                <div class="invalid-feedback" i18n="@@JoinFormPesselError" *ngIf="joinusForm.get('userPeselorPassport').errors?.required">
                  Input can't be empty.
                </div>
              </div> 
            </div>

            <div formGroupName="address">
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input 
                  type="text" 
                  class="form-control" 
                  [ngClass]="{
                    'is-invalid': joinusForm.get('address.inputAddress').invalid &&
                                  joinusForm.get('address.inputAddress').touched,
                      'is-valid': joinusForm.get('address.inputAddress').valid &&
                                  joinusForm.get('address.inputAddress').touched         
                  }"
                  id="inputAddress" 
                  i18n="@@JoinFormAddress1"
                  formControlName="inputAddress" 
                  placeholder="1234 Main St">
              <div class="invalid-feedback" i18n="@@JoinFormAddressError" *ngIf="joinusForm.get('address.inputAddress').errors?.required">
                Input can't be empty.
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2" i18n="@@JoinFormAddress2">Address 2</label>
              <input 
                  type="text" 
                  class="form-control" 
                  id="inputAddress2" 
                  formControlName="inputAddress2" 
                  placeholder="Apartment, studio, or floor (Optional)">
              <div class="invalid-feedback" i18n="@@JoinFormAddress2Error" *ngIf="joinusForm.get('address.inputAddress2').errors?.required">
                Input can't be empty.
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputCountry" i18n="@@JoinFormCountry">Select Country</label>
                <select 
                    id="inputCountry" 
                    formControlName="inputCountry" 
                    [attr.disabled]="noEditable"
                    class="form-control"
                    (change)="changeCountryTrigger($event.target.selectedOptions[0].label)"
                    >                    
                  <option 
                      *ngFor = "let option of AllCountryList" 
                      [ngValue]="option.country_short_name"
                      >{{option.country_name}}</option>
                </select>
              </div>              
             
              <div class="form-group col-md-4">
                <label for="inputState" i18n="@@JoinFormState">State</label>
                <select 
                    id="inputState" 
                    formControlName="inputState" 
                    class="form-control"                     
                    [ngClass]="{
                      'is-invalid': joinusForm.get('address.inputState').invalid &&
                                    joinusForm.get('address.inputState').touched,
                        'is-valid': joinusForm.get('address.inputState').valid &&
                                    joinusForm.get('address.inputState').touched
                    }"
                    [(ngModel)] = "selectedState" 
                    (change)="fetchCities($event.target.selectedOptions[0].label)"
                    >
                    <option [ngValue]="undefined" disabled="true" hidden [selected]="true" i18n="@@JoinFormStatePlaceholder">Please select state</option>
                  <option 
                      *ngFor="let state of states" 
                      [ngValue]="state.state_name"
                      >{{state.state_name}}</option>
                </select>
                <div class="invalid-feedback" i18n="@@JoinFormStateError" *ngIf="joinusForm.get('address.inputState').errors?.required">
                  Please select a valid state.
                </div>
              </div>
              <div class="form-group col-md-4" *ngIf="!isCitiesDataFetched">
                <label for="inputCity" i18n="@@JoinFormCity">City </label>
                <select 
                    id="inputCity" 
                    formControlName="inputCity" 
                    [attr.disabled]="isCitiesDataFetched? '': null"
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('address.inputCity').invalid &&
                                    joinusForm.get('address.inputCity').touched &&
                                    !(cities.length > 0),
                        'is-valid': joinusForm.get('address.inputCity').valid &&
                                    joinusForm.get('address.inputCity').touched &&
                                    (cities.length > 0)
                    }"
                    >
                    <option [ngValue]="undefined" disabled="true" hidden [selected]="true">Please select city</option>
                  <option 
                      *ngFor="let city of cities" 
                      [ngValue]="city.city_name"
                      >{{city.city_name}}</option>
                </select>
                <div class="invalid-feedback" i18n="@@JoinFormCityError"  *ngIf="joinusForm.get('address.inputCity').errors?.required">
                  Please select a valid city.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputZip" i18n="@@JoinFormZip">Zip</label>
                <input 
                    type="text" 
                    formControlName="inputZip" 
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('address.inputZip').invalid &&
                                    joinusForm.get('address.inputZip').touched,
                        'is-valid': joinusForm.get('address.inputZip').valid &&
                                    joinusForm.get('address.inputZip').touched 
                    }"
                    id="inputZip"
                    mask="00-000"
                    [validation]="true"
                    placeholder="Zipcode"
                    >
                <div class="invalid-feedback" i18n="@@JoinFormZipEmptyError" *ngIf="joinusForm.get('address.inputZip').errors?.required">
                  Input can't be empty.
                </div>
                <div class="invalid-feedback" i18n="@@JoinFormZipInvalidError" *ngIf="joinusForm.get('address.inputZip').errors?.pattern">
                  Invalid zipcode.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPhone" i18n="@@JoinFormPhone">Phone</label>
                <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('address.inputPhone').invalid &&
                                    joinusForm.get('address.inputPhone').touched,
                        'is-valid': joinusForm.get('address.inputPhone').valid &&
                                    joinusForm.get('address.inputPhone').touched         
                    }"
                    id="inputPhone" 
                    formControlName="inputPhone" 
                    prefix="+48 " mask="00 000 00 00"
                    [validation]="true"
                    placeholder="eg: 54 545 54 54">
                <div class="invalid-feedback" i18n="@@JoinFormPhoneEmptyError" *ngIf="joinusForm.get('address.inputPhone').errors?.required">
                  Input can't be empty.
                </div>
                <div class="invalid-feedback" i18n="@@JoinFormPhoneInvalidError" *ngIf="!joinusForm.get('address.inputPhone').valid && !joinusForm.get('address.inputPhone').errors?.required">
                  Invalid phone number.
                </div>
              </div>              
            </div>
            </div>
            <div class="w-100"></div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ageCheck" i18n="@@JoinFormIsStudent" class="d-block">Are you Student?</label>
             
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="isStudent1" 
                       value="Yes"
                       name="isStudent"
                       formControlName="isStudent" 
                       class="custom-control-input">
                <label class="custom-control-label" for="isStudent1" i18n="@@JoinFormIsStudentYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="isStudent2" 
                       value="No"
                       name="isStudent"
                       formControlName="isStudent" 
                       class="custom-control-input">
                <label class="custom-control-label" for="isStudent2" i18n="@@JoinFormIsStudentNo">No</label>
              </div>
              
            </div>

            <div class="form-group col-md-6">
              <label for="ageCheck" i18n="@@JoinFormAgeCheck" class="d-block">Are you less than 26 year old?</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="ageCheck1" 
                       value="Yes"
                       name="ageCheck"
                       formControlName="ageCheck" 
                       class="custom-control-input">
                <label class="custom-control-label" for="ageCheck1" i18n="@@JoinFormAgeCheckYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="ageCheck2" 
                       value="No"
                       name="ageCheck"
                       formControlName="ageCheck" 
                       class="custom-control-input">
                <label class="custom-control-label" for="ageCheck2" i18n="@@JoinFormAgeCheckNo">No</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ageCheck" i18n="@@JoinFormIsAlreadyEmployed" class="d-block">Are you working somewhere?</label>
             
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="isAlreadyEmployed1" 
                       value="Yes"
                       name="isAlreadyEmployed"
                       formControlName="isAlreadyEmployed" 
                       (change)="handleEmploymentStatus($event)"
                       class="custom-control-input">
                <label class="custom-control-label" for="isAlreadyEmployed1" i18n="@@JoinFormIsAlreadyEmployedYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="isAlreadyEmployed2" 
                       value="No"
                       name="isAlreadyEmployed"
                       formControlName="isAlreadyEmployed" 
                       class="custom-control-input"
                       (change)="handleEmploymentStatus($event)"
                       >
                <label class="custom-control-label" for="isAlreadyEmployed2" i18n="@@JoinFormIsAlreadyEmployedNo">No</label>
              </div>
              
            </div>
            <div *ngIf="isAlreadyEmployed" class="form-group col-md-6">
              <label for="inputCountry" i18n="@@JoinFormContractType">Please choose the contract</label>
              <select 
                  id="contractType" 
                  formControlName="contractType" 
                  class="form-control"
                  [(ngModel)]="selectedContract"
                  >               
                  <option [ngValue]="undefined" disabled="true" hidden [selected]="true" i18n="@@JoinFormContractType">Please select contract</option>     
                <option 
                    *ngFor = "let contract of contractListItems" 
                    [ngValue]="contract"
                    i18n
                    >{contract, select, Contract of employment {Contract of employment} Contract work {Contract work} Contract of mandate {Contract of mandate}}</option>
              </select>
              <!-- https://stackoverflow.com/questions/60718283/angular-i18n-how-to-translate-select-options -->
            </div> 
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ageCheck" i18n="@@JoinFormIsWageAboveThreshold" class="d-block">Are you earning more than minimum Wage 2600 PLN?</label>
             
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="isWageAboveThreshold1" 
                       value="Yes"
                       name="isWageAboveThreshold"
                       formControlName="isWageAboveThreshold" 
                       (change)="handleWageStatus($event)"
                       class="custom-control-input">
                <label class="custom-control-label" for="isWageAboveThreshold1" i18n="@@JoinFormIsWageAboveThresholdYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" 
                       id="isWageAboveThreshold2" 
                       value="No"
                       name="isWageAboveThreshold"
                       formControlName="isWageAboveThreshold" 
                       class="custom-control-input"
                       (change)="handleWageStatus($event)"
                       >
                <label class="custom-control-label" for="isWageAboveThreshold2" i18n="@@JoinFormIsWageAboveThresholdNo">No</label>
              </div>
              
            </div>
            <div *ngIf="isNetWageActive" class="form-group col-md-6">
              <label for="netWage" i18n="@@JoinFormNetWage">Please mention amount in Gross</label>
              <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{
                      'is-invalid': joinusForm.get('netWage').invalid &&
                                    joinusForm.get('netWage').touched,
                        'is-valid': joinusForm.get('netWage').valid &&
                                    joinusForm.get('netWage').touched         
                    }"
                    id="netWage" 
                    formControlName="netWage" 
                    prefix="zł " mask="separator.2" thousandSeparator=","
                    [validation]="true"
                    placeholder="eg: 3000">
                <div class="invalid-feedback" i18n="@@JoinFormNetWageEmptyError" *ngIf="joinusForm.get('netWage').errors?.required">
                  Input can't be empty.
                </div>
                

            </div> 
          </div>

          <div class="form-row mt-5">
            <div class="form-group col mb-0">
              <div class="form-check">
                <input class="form-check-input"  type="checkbox" id="iAgreePP" formControlName="iAgreePP">
                <label class="form-check-label" for="iAgreePP" i18n="@@IAgreePrivacyPolicy">
                  I have read and accept the <a class="btn-link" routerLink="/privacy-policy">privacy policy</a>
                </label>
                <div class="invalid-feedback" i18n="@@JoinFormIAgreePPError" *ngIf="joinusForm.get('iAgreePP').errors?.required">
                  You must agree before submitting.
                </div>
              </div>
              
            </div> 
          </div>
            <button 
                type="submit" 
                class="main-button mt-3" 
                [ngClass]="{'disabled': !isFormSubmitCompleted}"
                [disabled]="!isFormSubmitCompleted">
              <span *ngIf="isFormSubmitCompleted" i18n="@@JoinFormSubmit">Submit</span>
            <span *ngIf="!isFormSubmitCompleted"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
            <ng-container i18n="@@JoinFormProcessing">Processing...</ng-container></span>
            </button>
          </form>
       
        </div>
      </div>
    
</div>
</div>
</div>
</div>

