<div class="left-image-decor"></div>

 <!-- ***** Team Starts ***** -->
<section class="section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Our <em>Team</em></h2>
                    <p>Trust the professionals</p>
                </div>
            </div>
            <div class="col-sm-12"
            data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item service-item pb-4">
                        <img class="img-fluid w-100 rounded" src="assets/images/team/md.jpg" alt="Managing Director">
                        <div class="card mt-n7 mx-3">
                            <div class="card-body text-center">
                              <h4 class="mb-1">Deepak Pathania</h4>
                              <p class="font-size-1 mb-0">Managing Director</p>
                            </div>
                          </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="item service-item pb-4">
                        <img class="img-fluid w-100 rounded" src="assets/images/team/manager.jpg" alt="Manager">
                        <div class="card mt-n7 mx-3">
                            <div class="card-body text-center">
                              <h4 class="mb-1">Beata Pathania</h4>
                              <p class="font-size-1 mb-0">Manager</p>
                            </div>
                          </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="item service-item pb-4">
                        <img class="img-fluid w-100 rounded" src="assets/images/team/hr.jpg" alt="HR Specialist">
                        <div class="card mt-n7 mx-3">
                            <div class="card-body text-center">
                              <h4 class="mb-1">Serhii Levchenko</h4>
                              <p class="font-size-1 mb-0">HR Specialist</p>
                            </div>
                          </div>
                    </div>
                </ng-template>  
              
              </owl-carousel-o>
            </div>


 
        </div>
    </div>
</section>
<!-- ***** Team Ends ***** -->