<div class="right-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="services">
        <div class="container">
            
      
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2><ng-container i18n @@ServiceTagLineMain>Our</ng-container>&nbsp;<em i18n="ServiceTagLineSub"> Services</em></h2>
                        <p>Providing strategic insight for success</p>
                    </div>
        
                </div>
                <!-- <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="assets/images/ldb-left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div> -->
                <!-- <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="assets/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h5>Import Export</h5>
                                <p>Please do not redistribute this template ZIP file for a download purpose. You may <a
                                rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> us for
                            additional licensing of our template or to get a PSD file.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="assets/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h4>Real Estate</h4>
                                <p>You can <a rel="nofollow"
                                        href="https://templatemo.com/tm-540-LDBPolska-landing-page">download LDBPolska
                                        Template</a> from our website. Duis viverra, ipsum et scelerisque placerat, orci
                                    magna consequat ligula.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h4>Gastronomy</h4>
                                <p>Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                                    maximus porta. Curabitur tristique lacus.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h4>IT Services</h4>
                                <p>Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                                    maximus porta. Curabitur tristique lacus.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h4>Logistics and supply</h4>
                                <p>Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                                    maximus porta. Curabitur tristique lacus.</p>
                            </div>
                        </li>
                        
                    </ul>
                </div> -->
            </div>

            <div class="row justify-content-lg-center">
                <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
                  <!-- Icon Blocks -->
                  <div class="media pr-lg-5">
                    <figure class="w-100 max-w-8rem mr-4">
                      <img class="img-fluid" src="assets/images/food.png" alt="Gastronomy">
                    </figure>
                    <div class="media-body">
                      <h4 i18n="ServiceHeading1">Gastronomy</h4>
                      <p i18n="ServicePara1">We deal in Shaping Restaurants and and Successful gastronomy concepts.</p>
                    </div>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
        
                <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
                  <!-- Icon Blocks -->
                  <div class="media pl-lg-5">
                    <figure class="w-100 max-w-8rem mr-4">
                      <img class="img-fluid" src="assets/images/real-estate.png" alt="Real Estate">
                    </figure>
                    <div class="media-body">
                      <h4 i18n="ServiceHeading2">Real Estate</h4>
                      <p i18n="ServicePara2">We provide comprehensive analysis for executive housing decisions. We help our clients to identify the best investment opportunities in the housing sector.</p>
                    </div>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
        
                <div class="w-100"></div>
        
                <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
                  <!-- Icon Blocks -->
                  <div class="media pr-lg-5">
                    <figure class="w-100 max-w-8rem mr-4">
                      <img class="img-fluid" src="assets/images/export-import.png" alt="Import Export">
                    </figure>
                    <div class="media-body">
                      <h4 i18n="ServiceHeading3">Import Export</h4>
                      <p i18n="ServicePara3">Assisting businesses in exporting and importing their goods throughout  the international market.</p>
                    </div>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
        
                <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
                  <!-- Icon Blocks -->
                  <div class="media pl-lg-5">
                    <figure class="w-100 max-w-8rem mr-4">
                      <img class="img-fluid" src="assets/images/logistic.png" alt="Logistics and Supply">
                    </figure>
                    <div class="media-body">
                      <h4 i18n="ServiceHeading4">Logistics and Supply</h4>
                      <p i18n="ServicePara4">The Logistics and Distribution functions within the Supply Chain encompass transportation, stock control and warehousing. Our consultant ensures that the flow of goods and materials are balanced to the most efficient cost base and aligned with customer requirements.
                      </p>
                    </div>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
        
                <div class="w-100"></div>
        
                <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-0">
                  <!-- Icon Blocks -->
                  <div class="media pr-lg-5">
                    <figure class="w-100 max-w-8rem mr-4">
                      <img class="img-fluid" src="assets/images/it-service.png" alt="SVG">
                    </figure>
                    <div class="media-body">
                      <h4 i18n="ServiceHeading5">IT Services</h4>
                      <p i18n="ServicePara5">We work closely with our clients to create outstanding high performance and safe custom websites, custom designs, logo designing, e-commerce websites and mobile applications.</p>
                    </div>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
        
                <div class="col-md-6 col-lg-5" style="visibility: hidden; opacity: 0;" tabindex="-1">
                  <div class="media pl-lg-5">
                    <figure class="w-100 max-w-8rem mr-4">
                      <img class="img-fluid d-none" src="#" alt="SVG">
                    </figure>
                    <div class="media-body">
                      <h4>Stay curious</h4>
                      <p>We dedicate time for researching and experimentation to increase creativity and imagine new challenges.</p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row justify-content-between align-items-center text-center text-md-left bg-dark rounded mt-5 shadow">
                <div class="col-md-3">
                 <div class="ub-logo">
                  <img class="img-fluid" src="assets/images/UE_Logo_S.png" alt="Uber Eats">
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="text-white" i18n="@@UberPartnershipPara">We are registered Uber eats fleet partner. Want to join us?</p>
                </div>
                <div class="col-md-3 text-md-right mt-2 mt-md-0">
                  <a href="" class="main-button d-inline-block my-3" routerLink="/join-us" i18n="@@UberPartnershipBtn">Apply Now</a>
                </div>
              </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->